a {
    color: rgb(75, 2, 2);
    font-size: 35px;
    text-decoration: none;
    background-color: rgb(203, 175, 219);
    font-weight: 460;
    text-align: center;
    border:2px solid;
    border-color: black;
}


h1{
    font-size: 35px;
    border: 3px solid;
    color: rgb(75, 12, 34);
    background-color:rgb(147, 189, 189);
    border-color: black;
    font-weight: 650;
    font-style: italic;

}